<div class="nav">
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <a href="/posts"><h1><%- blog.title %><small>内容小计</small></h1></a>
            <p><%- blog.description %></p>
            <div class="ui icon input">
                <input placeholder="搜索站内信息" id="searchInfo" type="text" />
                <div class="ui icon button"><i class="search icon"></i></div>
            </div>
        </div>
    </div>
</div>